.contenedor-carta {
    /* border: solid black 1px; */
    width: 720px;
    height: 405px;
    border-radius: 10px;
    background-color: #9cacbfa1;
}

.texto-carta { 
    color: #0A1417;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

.boton-carta {
    display: flex;
    justify-content: center;
    background-color:#032E42 !important;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(68, 68, 68) 0px 2px 1px;
}

.boton-carta:hover{
    background-color: #2B6684 !important;
    outline: none;
    box-shadow: none;
}

.texto-boton-carta {
    color: white;
    align-self: center;
    
}