.titulo {
  color: white;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  
}

.texto-titulo {
  /* text-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9) !important; */
  text-shadow: 0px 2px 5px rgba(31, 38, 135, 0.9);
}

.boton-agregar-post {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.boton-agregar-post:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.contenedor-ui-proyectos {
  padding: 1%;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.contenedor-tarjeta-proyecto {
  height: 150px;
  flex: 1 1 350px;

  background: rgba(59, 167, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px ); */
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contenedor-tarjeta-proyecto:hover {
  background: rgba(59, 167, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  /* backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px ); */
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.encabezado-tarjeta-proyecto {
  height: 60%;
  background-color: #2b66842d;
  border-radius: 2px 2px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.cuerpo-tarjeta-proyecto {
  background-color: #ffffff;
  border-radius: 0 0 2px 2px;
  height: 40%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.boton-dropdown {
  background-color: white;
  text-decoration: none;
  color: #0077cc;
  padding: 10px;
  border-radius: 2px;
}

.boton-dropdown:hover {
  text-decoration: none;
  background-color: white;
  color: #0077cc;
}

.separador-dropdown-menu {
  width: 75%;
  align-self: center;
  height: 1px;
  margin: 5px auto 5px auto;
  background-color: black;
  opacity: 0.3;
}

.dropdown-menu {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown-item:hover {
  background-color: #0077cc !important;
  color: white !important;
}
