.contenedor-campos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.campo-post {
  font-weight: 700;
  margin-right: 1%;
}

.contenido-campo-post {
  overflow-wrap: break-word;
  text-align: end;
}

.contenedor-etiquetas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 720px;
}

.etiqueta {
  /* background-color: white; */
  color: black;
  margin: 2px;
  padding: 0 15px 0 15px;
  /* border-radius: 2px; */
  margin: 10px 15px 10px 15px;
  font-weight: 700;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.etiqueta:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
