.contenedor-carta-registro {
  height: 650px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.titulo {
  margin-bottom: 25px;
  color: #032E42 !important;
}

.contenedor-formulario-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-inputs-registro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
  margin-bottom: 50px;
}

.mensaje-contrasena {
  padding: 10px;
  background-color: rgba(255, 50, 50, 0.7);
  position: absolute;
  bottom: 150px;
  border-radius: 10px;
  font-weight: 600;
}
