.navbar {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.active {
  text-decoration: underline !important;
  font-weight: 500;
  text-decoration-color: #9CACBF;
}

.texto-navbar {
  color: #9CACBF !important;
}

.logo {
  color: #032E42 !important;
}

.contenedor-logo {
  width: 250px;
  /* color: white;
  background: rgba(255, 255, 255, 0.15); */
  background: rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
