.contenedor-master {
  position: absolute;
  top: 0;
  height: 100vh;

  /*Cool blues*/
  /*    background: #2193b0;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*hydrogen*/
  /* background: #667db6;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*hydrogen mio*/
  background: #0088ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0088ff, #0082c8, #0082c8, #0088ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0088ff, #0082c8, #0082c8, #0088ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*green blue*/
  /* background: #00F260;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #0575E6, #00F260);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/

  /* background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ); */

  /* background-image: url("https://images.pexels.com/photos/3894157/pexels-photo-3894157.jpeg?cs=srgb&dl=pexels-btgl-3894157.jpg&fm=jpg"); */
  background-position: center;
  height: 100vh;
  z-index: -100;
  /* opacity: 0.9; */
  /* filter: blur(1px); */
}
